@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Unbounded:wght@200..900&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-primary: rgb(16, 185, 129);
  --clr-secondary: rgb(30, 41, 59);
  --clr-accent: #f5f0e7;
  --ff-primary: "Unbounded", sans-serif;
  --ff-header: "Geist", sans-serif;
  --fw-norm: 400;
  --fw-bold: 700;
  --fw-vbold: 900;
  --fs-small: 1rem;
  --fs-medium: 1.5rem;
  --fs-large: 2rem;
  --fs-xlarge: 3rem;
}

/* Remove default margin */
* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  interpolate-size: allow-keywords;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

p {
  margin-bottom: 0.75rem;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--ff-primary);
}

section {
  margin: 0 auto;
  padding: 1.75rem 0;
}
/* Utility Classes */

/*Color Classes*/
.tc-prim {
  color: var(--clr-primary);
}

.tc-sec {
  color: var(--clr-secondary);
}
.tc-acc {
  color: var(--clr-accent);
}

.bg-primary {
  background-color: var(--clr-primary);
}

.bg-secondary {
  background-color: var(--clr-secondary);
}
.bg-accent {
  background-color: var(--clr-accent);
}
/*Color Classes*/

/* Font Classes*/
.fw-bold {
  font-weight: var(--fw-bold);
}

.fw-norm {
  font-weight: var(--fw-norm);
}
.fw-vbold {
  font-weight: var(--fw-vbold);
}
.fs-small {
  font-size: var(--fs-small);
}
.fs-medium {
  font-size: var(--fs-medium);
}
.fs-large {
  font-size: var(--fs-large);
}
.fs-xlarge {
  font-size: var(--fs-xlarge);
}

/* Font Classes*/

/*Flex Classes*/
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.items-baseline {
  align-items: baseline;
}

.items-stretch {
  align-items: stretch;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-10 {
  gap: 2.5rem;
}

.gap-16 {
  gap: 4rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-5 {
  gap: 1.25rem;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-8 {
  gap: 2rem;
}
/*Flex Classes*/
/* Utility Classes */

/*Wrapper/Block Styling*/
.standard-block {
  padding: 3rem 0;
  margin-left: 1rem;
  margin-right: 1rem;
}

.wrapper {
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}
/*Wrapper/Block Styling*/

/*Card Styles*/
.card-item {
  border: 1px solid var(--clr-accent);
  border-radius: 8px;
  padding: 2rem;
  -webkit-box-shadow: 3px 3px 10px 3px #dddddd;
  -moz-box-shadow: 3px 3px 10px 3px #dddddd;
  box-shadow: 3px 3px 10px 3px #dddddd;
  background-color: #fff;
  max-width: 400px;
}

.card-title {
  font-family: var(--ff-header);
  font-weight: var(--fw-vbold);
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  color: var(--clr-primary);
}

.card-text {
  font-family: var(--ff-primary);
  font-weight: var(--fw-norm);
  font-size: 1rem;
  color: #333;
  margin-bottom: 0.75rem;
}
/*Card Styles*/

.primary-btn {
  border: 0;
  border-radius: 0.25rem;
  background: #1e88e5;
  color: white;
  font-family: -system-ui, sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 1rem 0.75rem;
  margin: 0.25rem;
  cursor: pointer;
}
