@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Unbounded:wght@200..900&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-primary: rgb(255, 90, 54);
  --clr-secondary: rgb(30, 41, 59);
  --clr-accent: rgba(245, 240, 231);
  --clr-grey: rgb(142, 141, 143);
  --ff-primary: "Unbounded", sans-serif;
  --ff-header: "Geist", sans-serif;
  --fw-norm: 400;
  --fw-bold: 700;
  --fw-vbold: 900;
  --fs-small: 1rem;
  --fs-medium: 1.25rem;
  --fs-large: 2rem;
  --fs-xlarge: 3rem;
}

/* Remove default margin */
* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  interpolate-size: allow-keywords;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
  height: auto;
}

.img-border-rounded{
  border-radius: 16px;
}
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

p {
  margin-bottom: 0.75rem;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--ff-primary);
  color: var(--clr-secondary);
      @media (max-width: 768px) {
    font-size: 14px;
    padding: 1rem 0;
  }
}

section {
  margin: 0 auto;
  padding: 2rem 1rem;
}

:is(h1, h2, h3, h4, h5, h6)  {
  font-family: var(--ff-header);
  line-height: 1.2;
}

hr {
  width: 33.333%;
  margin-top: .50rem;
  border: .25rem solid var(--clr-primary);
    @media (max-width: 768px) {
      width: 66.666%;
  }
}

/* Utility Classes */

/*Color Classes*/
.tc-white {
  color: #ffffff;
}
.tc-prim {
  color: var(--clr-primary);
}

.tc-sec {
  color: var(--clr-secondary);
}
.tc-acc {
  color: var(--clr-accent);
}

.tc-grey {
  color: var(--clr-grey);
}

.bg-primary {
  background-color: var(--clr-primary);
}

.bg-secondary {
  background-color: var(--clr-secondary);
}
.bg-accent {
  background-color: var(--clr-accent);
}
/*Color Classes*/

/* Font Classes*/
.fw-bold {
  font-weight: var(--fw-bold);
}

.fw-norm {
  font-weight: var(--fw-norm);
}
.fw-vbold {
  font-weight: var(--fw-vbold);
}
.fs-small {
  font-size: var(--fs-small);
}
.fs-medium {
  font-size: var(--fs-medium);
  font-family: var(--clr-primary);
}
.fs-large {
  font-size: var(--fs-large);
}
.fs-xlarge {
  font-size: var(--fs-xlarge);
}

/* Font Classes*/

/*Flex Classes*/
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.items-baseline {
  align-items: baseline;
}

.items-stretch {
  align-items: stretch;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-10 {
  gap: 2.5rem;
}

.gap-16 {
  gap: 4rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-5 {
  gap: 1.25rem;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-8 {
  gap: 2rem;
}
/*Flex Classes*/

/*Margin-Padding Classes */
.mx-0 {
  margin: 0 auto;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 2.5rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 2.5rem;
}

.mt-4 {
  margin-bottom: 4rem;
}
/*Margin-Padding Classes */

/*Width-Classes*/
.block-650 {
  max-width: 650px;
}
.block-350 {
  max-width: 350px;
}

/* Utility Classes */

/*Wrapper/Block Styling*/
.standard-block {
  margin-top: 0.75rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.wrapper {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.text-wrapper {
  margin: 0 auto;
  padding: 0.5rem;
}

.container {
  margin-left: auto;
  margin-right: auto;
}
/*Wrapper/Block Styling*/

/*Card Styles*/
.card-item {
  border: 1px solid var(--clr-accent);
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 9px -4.5px 5.5px -6px #000000;
  background-color: #fff;
  max-width: 400px;

  .card-title {
    font-family: var(--ff-header);
    font-weight: var(--fw-vbold);
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    color: var(--clr-primary);
  }

  .card-text {
    font-family: var(--ff-primary);
    font-weight: var(--fw-norm);
    font-size: 0.75rem;
    color: var(--clr-secondary);
    margin-bottom: 0.75rem;
  }
}
/*Card Styles*/

/*Button Styles*/
.primary-btn {
  border: 0;
  border-radius: 20px;
  background: var(--clr-primary);
  color: white;
  font-family: var(--ff-header);
  font-size: 1rem;
  line-height: 1.2;
  white-space: nowrap;
  box-shadow: 9px 4.5px 5.5px -6px #000000;
  text-decoration: none;
  padding: 1rem 0.75rem;
  margin: 0.25rem;
  cursor: pointer;
}

.primary-btn:hover {
  background-color: var(--clr-secondary);
}

.secondary-btn {
  border: 0;
  border-radius: 20px;
  background: var(--clr-secondary);
  color: white;
  font-family: var(--ff-header);
  box-shadow: 9px 4.5px 5.5px -6px #000000;
  font-size: 1rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 1rem 0.75rem;
  margin: 0.25rem;
  cursor: pointer;
}

.secondary-btn:hover {
  background-color: var(--clr-primary);
}

